cycler==0.10.0
decorator==4.2.1
h5py==2.7.1
itk==4.13.0
itk-core==4.13.0
itk-filtering==4.13.0
itk-io==4.13.0
itk-numerics==4.13.0
itk-registration==4.13.0
itk-segmentation==4.13.0
kiwisolver==1.0.1
matplotlib==2.2.2
MedPy==0.3.0
networkx==2.1
nibabel==2.2.1
numpy==1.14.2
pandas==0.22.0
Pillow==5.0.0
pydicom==1.0.2
pynufft==0.3.3.1
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
PyWavelets==0.5.2
scikit-image==0.13.1
scipy==1.0.0
six==1.11.0
